  @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    font-size: 100%;
    background-image: linear-gradient(to bottom right, #3affde 0%, #5b9dff 40%, #9f6bff 60%, #ff34d2 100%);
    background-size: 200% 200%;
    animation: float 6s linear infinite alternate;
  }
  @keyframes float {
    from{background-position: 0 0;}
    to{background-position: 100% 100%;}
  }
  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
  }
  .cabecalho-imagem {
    height: 62px;
    border-radius: 50%;
  }
  .cabecalho-menu{
    display: flex;
    gap: 32px;
  }
  .cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
  }
  .cabecalho-menu-item:hover{
    color: #3e89de;
    opacity: .80;}
  .conteudo {
   padding-top: 100px;
   margin-bottom: 48px;
   border-top: 0.4px solid #fff2e7;
  }
  .conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
h1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}
h2{
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #ecd6c4;
}
.conteudo-principal-escrito a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecd6c4;
  width: 180px;
  height: 70px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, .25);
  border-radius: 20px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #63a0e6;
}
.conteudo-principal-escrito a:hover{
  background-color: #f3b2ce;
  opacity: .80;

}

.conteudo-principal-escrito-botao {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #63a0e6;
}
.conteudo-principal-imagem{
  padding-top: 48px;
  height: 400px;
}
.conteudo-secundario{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}
h3{
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #fff2e7;
  margin-bottom: 16px;
}
p{
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #ecd6c4;
}
@media (max-width: 520px){
  .conteudo-principal{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .conteudo-principal-escrito{
    justify-content: center;
    align-items: center;
  }
  .conteudo-principal-imagem{
    width: 90%;
    
  }
  .cabecalho-menu-item{
    font-size: 90%;
  }
  p{
    font-size: 10px;
  }
}
@media (max-width: 300px){
  .cabecalho-menu{
      gap: 10px;
  }
  .cabecalho-menu-item{
      font-size: 80%;
  }
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 12px;
  }
  
}